image: node:latest

cache:
  paths:
    - node_modules/

services:
  - mongo:latest

variables:
  MONGO_URI: 'mongodb://mongo/fec-soundcloud-comments'

stages:
  - build
  - test

build:
  stage: build
  script:
    - npm install
    - npm run build
    - npm run lint

test:
  stage: test
  before_script:
    - nohup node server/index.js
    - npm run seed
  script:
    - npx mocha
  after_script:
    - pkill node
